#s-site-footer
    .s-footer-contact
        .social
            a(href="//www.facebook.com/megobari15/" target="_blank").ic-fb
            a(href="//www.instagram.com/megobari.wine/" target="_blank").ic-in

script(src="./js/main.min.js")