include partials/head

body
	#s-site-wrapper
		section#s-site-main
			.s-item.s-item-header
				.logo
					img(src="img/assets/brand/logo-b.svg", alt="мегобари логотип")
				h2 Грузинский винный бар

			.s-item.s-rest.s-maroseyka(style="background-image: url(../img/bg-image.jpg);")
				.s-contact-info
					a(href="https://megobari.wine/maroseyka").s-contact-text
						h3 Маросейка, 15
						.s-address
							p Маросейка, 15
							p пн.- чт., вс.: 12:00-00:00, пт.-сб.: 12:00-06:00,
							p т. +7(905)700-40-07

			.s-item.s-rest.s-mechta(style="background-image: url(../img/bg-image-mechta.jpg);")
				.s-contact-info
					a(href="https://megobari.wine/dreamisland/").s-contact-text
						h3 «Остров Мечты»
						.s-address
							p Проспект Андропова, 1,
							p Тематический Парк "Остров Мечты"
							p пн.-вс.: 10:00-23:00
							p т. +7(916)315-57-38

			.s-item.s-rest.s-sretenka(style="background-image: url(../img/bg-image-sretenka.jpg);")
				.s-contact-info
					a(href="https://megobari.wine/sretenka/").s-contact-text
						h3 «Сретенка»
						.s-address
							p Сретенка, 27
							p пн.-вс.: 12:00-00:00
							p т. +7 964 700-40-07

			include partials/site-footer-start-page