include partials/head

#site-wrapper
    .s-item.s-header
        .logo
            img(src="img/assets/brand/logo-b.svg", alt="мегобари логотип")
        h2 Ресторан грузинской кухни
    .s-item.s-rest
        .s-contact-info
            .s-contact-text
                h2 Маросейка, 15
                .s-address
                    p Маросейка, 15
                    p пн.- вс.: 12:00-23:00,
                    p т. +7(905)700-40-07

        .s-contact-info
            .s-contact-text
                h2 Маросейка, 15
                .s-address
                    p Проспект Андропова, 1,
                    p Тематический Парк "Остров Мечты"
                    p пн.-вс.: 10:00-00:00
                    p т. +7(968)700-40-07

include partials/site-footer-start-page