#site-header .header-mid {
	padding: 2rem;
	& .logo {
		width: math.div(5, 12) * 100%;
		font-size: 0;
	}
	& .nav {
			width: math.div(2, 12) * 100%;
	}
}

@media (min-width: $b-medium) {
	#site-header .header-mid{
		& .logo {
			width: math.div(3, 12) * 100%;
		}
		& .nav {
			width: math.div(1, 12) * 100%;
		}
	}
}

@media (min-width: $b-xlarge) {
	#site-header .header-mid{
		padding: 4rem 2rem;
		justify-content: space-between;
		& .logo {
			max-width: math.div(2, 12) * 100%;
		}
		& .nav {
			width: 100%;
			text-align: right;
		}
	}
}